start {
  jump "scene1"
}
scene1 "diner" "bgmusic" "phoenix" "larry" "larry.panicked" {
  diner fade=0 wait=0
  larry fade=1 wait=0 mood="panicked"
  phoenix at="left" wait=0
  bgmusic "start"
  larry "oh god phoenix..." {
    - "... I killed him..."
    - "it was a mistake you gotta believe me"
    - "_it was not a mistake_"
    - "angry" "but he deserved it"
  }
  phoenix "wtf I asked what you wanted for breakfast." {
    - "subtext: ..."
    - wait=0 "annoyed" "wait larry"
  }
  choice {
    "why do you do this you goddamn idiot." target="scene2"
    "you goddamn idiot, ${larry.name}" {
      larry at="right" from="outright" "dat's right!"
      jump "back"
    }
    if cond=r"sucker > 2" "its fine don't worry" {
      set sucker=12
    }
  }
}
scene2 {
  say "its alive"
}